* {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin: 10px;
  padding: 10px;

}

.login-card {
  border: 1px solid #2d2626;
  width: 600px;
  padding: 30px;
  border-radius: 12px;
}


.login-card h1 {
  white-space: nowrap;
  color: #000000;
  height: 70px;
  text-align: center;
  margin: 20px;
  padding: 5px;
  font-size: 40px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
  text-wrap: nowrap;
}

.login-card p {
  color: #000000;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

label {
  margin-right: 10px;
}

input {
  padding: 10px 15px;
  border-radius: 10px;

}

.login-input {
  padding: 10px 15px;
  font-size: 16px;
}

.login-btn {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #8d5c5c;
  color: #ffffff;
}

.signup-btn{
  margin-top: 20px;
  cursor: pointer;
}